@import url('animations.css');
@import url('fonts/lato.css');
@import url('fonts/homenaje.css');

html,
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(40, 30, 93, 1), rgba(17, 17, 17, 1));
}

body,
#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Homenaje', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}
